button {
  padding: 12px 24px;
  background-color: $primary;
  border-radius: 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media (any-hover: hover) {
    &:not(:disabled):hover {
      background-color: $primary-hover;
    }
  }
  &:disabled {
    cursor: default;
  }
}
